LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOG 20, 20, 230, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFONT
CAPTION "About µIRC"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDI_IRC,IDC_STATIC,12,12,21,20,SS_REALSIZEIMAGE
    LTEXT           "µIRC(C) 2009-2010 http://code.google.com/p/microirc",IDC_STATIC,7,38,200,20,SS_NOPREFIX
    LTEXT           "This program is licenced under the GPL version 2.",IDC_STATIC,7,60,200,19
    LTEXT           "For details see COPYING.txt.",IDC_STATIC,7,85,200,8
END

IDD_INPUTBOX DIALOG  0, 0, 122, 50
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_CENTER | DS_SETFONT //DS_FIXEDSYS
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT1,8,7,105,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,8,27,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,63,27,50,14
    //CONTROL         "SIP1",IDC_SIP1,"SIPPREF",NOT WS_VISIBLE,0,0,0,0
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDT_TAB1 DIALOG 0, 0, 450, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_POPUP | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Server", IDC_STATIC, 10, 10, 210, 230
    GROUPBOX        "Client", IDC_STATIC, 230, 10, 210, 230

    LTEXT           "Connect on startup", IDC_STATIC, 17, 28, 61, 8, SS_LEFT
    LTEXT           "Reconnect retries", IDC_STATIC, 17, 44, 57, 8, SS_LEFT
    LTEXT           "Host", IDC_STATIC, 18, 59, 16, 8, SS_LEFT
    LTEXT           "Port", IDC_STATIC, 18, 75, 14, 8, SS_LEFT
    LTEXT           "Pass", IDC_STATIC, 18, 92, 16, 8, SS_LEFT
    LTEXT           "Nick", IDC_STATIC, 236, 65, 16, 8, SS_LEFT
    LTEXT           "Name", IDC_STATIC, 236, 49, 20, 8, SS_LEFT
    LTEXT           "User", IDC_STATIC, 236, 33, 16, 8, SS_LEFT
    EDITTEXT        IDC_EDIT11, 108, 46, 98, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT2, 108, 60, 98, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT3, 108, 77, 98, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT4, 108, 92, 98, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT5, 307, 32, 98, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT6, 308, 49, 98, 12, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT7, 309, 68, 98, 12, ES_AUTOHSCROLL
    LTEXT           "Nick", IDC_STATIC, 238, 84, 16, 8, SS_LEFT
    EDITTEXT        IDC_EDIT24, 309, 86, 98, 12, ES_AUTOHSCROLL  | WS_DISABLED
    LTEXT           "Nick", IDC_STATIC, 240, 103, 16, 8, SS_LEFT
    EDITTEXT        IDC_EDIT25, 309, 102, 98, 12, ES_AUTOHSCROLL  | WS_DISABLED
    AUTOCHECKBOX    "", IDC_CHECK1, 194, 30, 8, 8
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDT_TAB2 DIALOG 0, 0, 450, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_POPUP | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Auto-Join", IDC_STATIC, 10, 10, 430, 110
    GROUPBOX        "Auto-Commands", IDC_STATIC, 10, 130, 430, 110

    EDITTEXT        IDC_EDIT8, 83, 127, 304, 19, ES_AUTOHSCROLL
    LTEXT           "On connect", IDC_STATIC, 31, 132, 38, 8, SS_LEFT
    EDITTEXT        IDC_EDIT9, 80, 44, 303, 32, ES_AUTOHSCROLL
    LTEXT           "Channels", IDC_STATIC, 28, 47, 30, 8, SS_LEFT
    LTEXT           "Delay", IDC_STATIC, 32, 28, 19, 8, SS_LEFT
    EDITTEXT        IDC_EDIT10, 81, 27, 50, 12, ES_AUTOHSCROLL
    LTEXT           "On part", IDC_STATIC, 35, 153, 24, 8, SS_LEFT
    EDITTEXT        IDC_EDIT21, 82, 150, 304, 15, ES_AUTOHSCROLL  | WS_DISABLED
    LTEXT           "On kick", IDC_STATIC, 35, 173, 26, 8, SS_LEFT
    EDITTEXT        IDC_EDIT22, 83, 171, 304, 15, ES_AUTOHSCROLL  | WS_DISABLED
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDT_TAB3 DIALOG 0, 0, 450, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_POPUP | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Messages", IDC_STATIC, 10, 10, 430, 230

    EDITTEXT        IDC_EDIT14, 78, 114, 304, 19, ES_AUTOHSCROLL
    LTEXT           "On quit", IDC_STATIC, 33, 119, 24, 8, SS_LEFT
    LTEXT           "On connect", IDC_STATIC, 27, 45, 38, 8, SS_LEFT
    LTEXT           "On part", IDC_STATIC, 29, 70, 24, 8, SS_LEFT
    EDITTEXT        IDC_EDIT12, 77, 66, 304, 15, ES_AUTOHSCROLL
    LTEXT           "On kick", IDC_STATIC, 30, 97, 26, 8, SS_LEFT
    EDITTEXT        IDC_EDIT13, 78, 93, 304, 15, ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT23, 77, 43, 304, 15, ES_AUTOHSCROLL  | WS_DISABLED
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDT_TAB4 DIALOG 0, 0, 450, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_VISIBLE | WS_POPUP | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "Colors", IDC_STATIC, 10, 10, 210, 230
    GROUPBOX        "Miscellaneous", IDC_STATIC, 230, 10, 210, 230

    LTEXT           "Background", IDC_STATIC, 20, 30, 40, 8, SS_LEFT
    LTEXT           "Font", IDC_STATIC, 20, 45, 40, 8, SS_LEFT
    LTEXT           "Join", IDC_STATIC, 20, 60, 40, 8, SS_LEFT
    LTEXT           "Nick change", IDC_STATIC, 20, 75, 40, 8, SS_LEFT
    LTEXT           "Topic change", IDC_STATIC, 20, 90, 40, 8, SS_LEFT
    LTEXT           "Mode", IDC_STATIC, 20, 105, 40, 8, SS_LEFT
    LTEXT           "Part", IDC_STATIC, 20, 120, 40, 8, SS_LEFT
    LTEXT           "Kick", IDC_STATIC, 20, 135, 40, 8, SS_LEFT
    LTEXT           "Quit", IDC_STATIC, 20, 150, 40, 8, SS_LEFT

    CONTROL         "", IDC_EDIT30, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 30, 20, 12
    CONTROL         "", IDC_EDIT31, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 45, 20, 12
    CONTROL         "", IDC_EDIT32, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 60, 20, 12
    CONTROL         "", IDC_EDIT33, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 75, 20, 12
    CONTROL         "", IDC_EDIT34, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 90, 20, 12
    CONTROL         "", IDC_EDIT35, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 105, 20, 12
    CONTROL         "", IDC_EDIT36, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 120, 20, 12
    CONTROL         "", IDC_EDIT37, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 135, 20, 12
    CONTROL         "", IDC_EDIT38, MSFTEDIT_CLASS, WS_BORDER | ES_READONLY, 90, 150, 20, 12

    LTEXT           "Encoding", IDC_STATIC, 240, 30, 40, 8, SS_LEFT
    LTEXT           "Sounds", IDC_STATIC, 240, 45, 40, 8, SS_LEFT
    COMBOBOX        IDC_COMBO1, 330, 30, 40, 8, CBS_DROPDOWN | CBS_HASSTRINGS
    AUTOCHECKBOX    "", IDC_CHECK2, 330, 45, 8, 8
}

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU_MANAGER MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Exit",                        IDM_EXIT
    END
    POPUP "Options"
    BEGIN
        MENUITEM "New",                         IDM_NEW
        MENUITEM "Edit",                        IDM_EDIT
        MENUITEM "Remove",                      IDM_REMOVE
        MENUITEM "Launch",                      IDM_LAUNCH
    END
END

IDR_MAIN_MENU_OFFLINE MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Connect",                     IDM_OPTIONS_CONNECT
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        IDM_OPTIONS_EXIT
    END
    POPUP "Options"
    BEGIN
        MENUITEM "Preferences",                 IDM_OPTIONS_PREFERENCES
    END
    POPUP "Help"
    BEGIN
        MENUITEM "About",                       IDM_OPTIONS_ABOUT
    END
END

IDR_MAIN_MENU_ONLINE MENU 
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Disconnect",                  IDM_OPTIONS_DISCONNECT
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        IDM_OPTIONS_EXIT
    END
    POPUP "Options"
    BEGIN
        MENUITEM "Preferences",                 IDM_OPTIONS_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "Set Topic",                   IDM_OPTIONS_SETTOPIC
        MENUITEM "Get Topic",                   IDM_OPTIONS_GETTOPIC
        MENUITEM SEPARATOR
        MENUITEM "Open Private",                IDM_OPTIONS_OPENPRIVATE
        MENUITEM "Join Channel",                IDM_OPTIONS_JOINCHANNEL
    END
    POPUP "Help"
    BEGIN
        MENUITEM "About",                       IDM_OPTIONS_ABOUT
    END
END

IDR_CHATBOX_MENU MENU 
BEGIN
    POPUP "Nick Menu"
    BEGIN
        MENUITEM "Kick",                        IDM_CHATBOX_KICK
        MENUITEM "Kick-Ban",                    IDM_CHATBOX_KICKBAN
        MENUITEM "Ban",                         IDM_CHATBOX_BAN
        MENUITEM SEPARATOR
        //MENUITEM "Whois",                       IDM_CHATBOX_WHOIS
        MENUITEM "Copy Nick",                   IDM_CHATBOX_COPYNICK
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_INFO_MSG1                "FAILED TO CONNECT"
    IDS_INFO_MSG2                "FAILED TO RECONNECT"
    IDS_INFO_MSG3                "CONNECTED"
    IDS_INFO_MSG4                "DISCONNECTED"

    IDS_PART_MSG1                "sets modes:"
    IDS_PART_MSG2                "joined"
    IDS_PART_MSG3                "kicked by"
    IDS_PART_MSG4                "nickchange"
    IDS_PART_MSG5                "nick already in use"
    IDS_PART_MSG6                "parted"
    IDS_PART_MSG7                "quit"
    IDS_PART_MSG8                "Topic is"
    IDS_PART_MSG9                "Topic changed by"
    IDS_PART_MSG10               "to"

    IDS_QUEST_MSG1               "Do you really want to reconnect?"
    IDS_QUEST_MSG2               "Reconnect"
    IDS_QUEST_MSG3               "About to disconnect. Do you wish to reconnect?"
    IDS_QUEST_MSG4               "Disconnect"
    IDS_QUEST_MSG5               "Are you sure you want to remove the selected profile(s)? This cannot be undone."
    IDS_QUEST_MSG6               "Confirmation"

    IDS_MSG1                     "Open Private"
    IDS_MSG2                     "Join Channel"
    IDS_MSG3                     "Set Topic"
    IDS_MSG4                     "New Profile"
    IDS_MSG5                     "Profiles"
    IDS_MSG6                     "Selected"
    IDS_MSG7                     "Profile Manager"

    IDS_ERROR_MSG1               "Host is invalid."
    IDS_ERROR_MSG2               "Port is invalid."
    IDS_ERROR_MSG3               "User is invalid."
    IDS_ERROR_MSG4               "Name is invalid."
    IDS_ERROR_MSG5               "Nick is invalid."
    IDS_ERROR_MSG6               "Auto-join Delay is invalid."
    IDS_ERROR_MSG7               "Reconnect Retries is invalid."
    IDS_ERROR_MSG8               "Bubble Duration is invalid."
    IDS_ERROR_MSG9               "Led Interval is invalid."
    IDS_ERROR_MSG10              "Critical error: CreateEvent() failed."
    IDS_ERROR_MSG11              "Config file is invalid."
    IDS_ERROR_MSG12              "Invalid Profile Name."
    IDS_ERROR_MSG13              "Cannot create more profiles."
    IDS_ERROR_MSG14              "A profile with that name already exists."
    IDS_ERROR_MSG15              "Critical error: CreateThread() failed."
END
