#include "resource.h"
#include "windows.h"
#include "resdefce.h"


/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOG  0, 0, 130, 100
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION
EXSTYLE 0x80000000L
CAPTION "About µIRC"
FONT 8, "MS Sans Serif"
BEGIN
    ICON            IDI_IRC,IDC_STATIC,12,12,21,20,SS_REALSIZEIMAGE
    LTEXT           "µIRC(C) 2009-2010 http://code.google.com/p/microirc",IDC_STATIC,7,38,116,20,SS_NOPREFIX
    LTEXT           "This program is licenced under the GPL version 2.",IDC_STATIC,7,60,116,19
    LTEXT           "For details see COPYING.txt.",IDC_STATIC,7,85,116,8
END

IDD_INPUTBOX DIALOG  0, 0, 122, 50
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT1,8,7,105,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,8,27,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,63,27,50,14
    CONTROL         "SIP1",IDC_SIP1,"SIPPREF",NOT WS_VISIBLE,0,0,0,0
END

IDD_PREFERENCES DIALOG  0, 0, 160, 351
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VSCROLL | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Profile",IDC_STATIC,8,5,30,12
    EDITTEXT        IDC_EDIT1,43,5,100,12,ES_AUTOHSCROLL | WS_DISABLED
    
    LTEXT           "Host",IDC_STATIC,8,27,30,12
    EDITTEXT        IDC_EDIT2,43,27,100,12,ES_AUTOHSCROLL
    LTEXT           "Port",IDC_STATIC,8,41,30,12
    EDITTEXT        IDC_EDIT3,43,41,100,12,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    
    LTEXT           "User",IDC_STATIC,8,68,30,12
    EDITTEXT        IDC_EDIT4,43,68,100,12,ES_AUTOHSCROLL
    LTEXT           "Name",IDC_STATIC,8,82,30,12
    EDITTEXT        IDC_EDIT5,43,82,100,12,ES_AUTOHSCROLL
    LTEXT           "Nick",IDC_STATIC,8,96,30,12
    EDITTEXT        IDC_EDIT6,43,96,100,12,ES_AUTOHSCROLL
    LTEXT           "Perform",IDC_STATIC,8,110,30,12
    EDITTEXT        IDC_EDIT7,43,110,100,12,ES_AUTOHSCROLL
    
    LTEXT           "Channels",IDC_STATIC,8,137,60,12
    EDITTEXT        IDC_EDIT8,73,137,70,12,ES_AUTOHSCROLL
    LTEXT           "Delay Before Join",IDC_STATIC,8,151,60,12
    EDITTEXT        IDC_EDIT9,73,151,70,12,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    
    CONTROL         "Connect on Startup",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,8,178,135,12
    LTEXT           "Reconnect Retries",IDC_STATIC,8,192,60,12
    EDITTEXT        IDC_EDIT10,73,192,70,12,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    
    LTEXT           "Part",IDC_STATIC,8,219,30,12
    EDITTEXT        IDC_EDIT11,43,219,100,12,ES_AUTOHSCROLL
    LTEXT           "Kick",IDC_STATIC,8,233,30,12
    EDITTEXT        IDC_EDIT12,43,233,100,12,ES_AUTOHSCROLL
    LTEXT           "Quit",IDC_STATIC,8,247,30,12
    EDITTEXT        IDC_EDIT13,43,247,100,12,ES_AUTOHSCROLL
    
    LTEXT           "Encoding",IDC_STATIC,8,274,60,12
    COMBOBOX        IDC_COMBO1,73,274,70,48,CBS_DROPDOWNLIST | CBS_SORT | CBS_HASSTRINGS | WS_TABSTOP
    LTEXT           "Bubble Duration",IDC_STATIC,8,288,60,12
    EDITTEXT        IDC_EDIT14,73,288,70,12,ES_AUTOHSCROLL
    CONTROL         "Sounds",IDC_CHECK2,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,8,302,135,12
    LTEXT           "Led Number",IDC_STATIC,8,316,60,12
    EDITTEXT        IDC_EDIT15,73,316,70,12,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    LTEXT           "Led Interval",IDC_STATIC,8,330,60,12
    EDITTEXT        IDC_EDIT16,73,330,70,12,ES_AUTOHSCROLL | ES_NUMBER | ES_RIGHT
    
    GROUPBOX        "Server",IDC_STATIC,3,17,146,41,BS_CENTER
    GROUPBOX        "Client",IDC_STATIC,3,58,146,69,BS_CENTER
    GROUPBOX        "Auto-Join",IDC_STATIC,3,127,146,41,BS_CENTER
    GROUPBOX        "Connection",IDC_STATIC,3,168,146,41,BS_CENTER
    GROUPBOX        "Messages",IDC_STATIC,3,209,146,55,BS_CENTER
    GROUPBOX        "Miscellaneous",IDC_STATIC,3,264,146,83,BS_CENTER
    EDITTEXT        IDC_EDIT0,0,0,0,0,NOT WS_VISIBLE
    CONTROL         "SIP1",IDC_SIP2,"SIPPREF",NOT WS_VISIBLE,0,0,0,0
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_IRC                 ICON                    "microirc.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENU_OFFLINE MENU 
BEGIN
    POPUP "Offline"
    BEGIN
        MENUITEM "About",                       IDM_OPTIONS_ABOUT
        MENUITEM "Help",                        IDM_OPTIONS_HELP
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        IDM_OPTIONS_EXIT
        MENUITEM "Connect",                     IDM_OPTIONS_CONNECT
        MENUITEM "Preferences",                 IDM_OPTIONS_PREFERENCES
    END
END

IDR_MAIN_MENU_ONLINE MENU 
BEGIN
    POPUP "Online"
    BEGIN
        MENUITEM "About",                       IDM_OPTIONS_ABOUT
        MENUITEM "Help",                        IDM_OPTIONS_HELP
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        IDM_OPTIONS_EXIT
        MENUITEM "Disconnect",                  IDM_OPTIONS_DISCONNECT
        MENUITEM "Preferences",                 IDM_OPTIONS_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "Set Topic",                   IDM_OPTIONS_SETTOPIC
        MENUITEM "Get Topic",                   IDM_OPTIONS_GETTOPIC
        MENUITEM SEPARATOR
        MENUITEM "Open Private",                IDM_OPTIONS_OPENPRIVATE
        MENUITEM "Join Channel",                IDM_OPTIONS_JOINCHANNEL
    END
END

IDR_CHATBOX_MENU MENU 
BEGIN
    POPUP "Nick Menu"
    BEGIN
        MENUITEM "Kick",                        IDM_CHATBOX_KICK
        MENUITEM "Kick-Ban",                    IDM_CHATBOX_KICKBAN
        MENUITEM "Ban",                         IDM_CHATBOX_BAN
        MENUITEM SEPARATOR
        //MENUITEM "Whois",                       IDM_CHATBOX_WHOIS
        MENUITEM "Copy Nick",                   IDM_CHATBOX_COPYNICK
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_IRC ACCELERATORS 
BEGIN
    "A",            IDM_OPTIONS_PREFERENCES, VIRTKEY, CONTROL, NOINVERT
    "Q",            IDM_OPENURL,            VIRTKEY, CONTROL, NOINVERT
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE 
BEGIN
    IDS_APP_TITLE           "µIRC"
    IDS_WNDCLASS_IRC        "microirc"
END

STRINGTABLE 
BEGIN
    IDS_CONNECT             "Connect"
    IDS_OPENURL             "Open URL"
    IDS_OPTIONS             "Options"
    IDS_OK                  "OK"
END

STRINGTABLE 
BEGIN
    IDS_NEW                 "New"
    IDS_EDIT                "Edit"
    IDS_REMOVE              "Remove"
    IDS_EXIT                "Exit"
    IDS_LAUNCH              "Launch"
END

STRINGTABLE 
BEGIN
    IDS_CANCEL              "Cancel"
END


/////////////////////////////////////////////////////////////////////////////
//
// MENU BAR
//

IDR_MAIN_MENU_MANAGER SHMENUBAR DISCARDABLE
BEGIN
    IDR_MAIN_MENU_MANAGER,
    5,

    I_IMAGENONE, IDM_NEW, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_NEW, 0, NOMENU,

    I_IMAGENONE, IDM_EDIT, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_EDIT, 0, NOMENU,

    I_IMAGENONE, IDM_REMOVE, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_REMOVE, 0, NOMENU,

    I_IMAGENONE, IDM_EXIT, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_EXIT, 0, NOMENU,

    I_IMAGENONE, IDM_LAUNCH, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_LAUNCH, 0, NOMENU,
END

IDR_MAIN_MENU_OFFLINE SHMENUBAR DISCARDABLE
BEGIN
    IDR_MAIN_MENU_OFFLINE,
    2,

    I_IMAGENONE, IDM_CONNECT, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_CONNECT, 0, NOMENU,

    I_IMAGENONE, IDM_OPTIONS, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    IDS_OPTIONS, 0, 0,
END

IDR_MAIN_MENU_ONLINE SHMENUBAR DISCARDABLE
BEGIN
    IDR_MAIN_MENU_ONLINE,
    2,

    I_IMAGENONE, IDM_OPENURL, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_OPENURL, 0, NOMENU,

    I_IMAGENONE, IDM_OPTIONS, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    IDS_OPTIONS, 0, 0,
END

IDR_PREFERENCES_MENU SHMENUBAR DISCARDABLE
BEGIN
    IDR_PREFERENCES_MENU,
    2,

    I_IMAGENONE, IDOK, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_OK, 0, NOMENU,

    I_IMAGENONE, IDCANCEL, TBSTATE_ENABLED, TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_CANCEL, 0, NOMENU,
END

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////
