#include <windows.h>

#include "resource2.h"

#ifndef IDC_STATIC
#define IDC_STATIC    -1
#endif

#ifndef DS_SHELLFONT
#define DS_SHELLFONT DS_SETFONT|DS_FIXEDSYS
#endif

// Common resources

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

// Icons

IDI_CALC_BIG            ICON    DISCARDABLE     "res/calc.ico"
IDI_CALC_SMALL          ICON    DISCARDABLE     "res/calc_sm.ico"

// Bitmaps

IDB_BITMAP_ROS          BITMAP  DISCARDABLE     "res/ROS_logo.bmp"

// UTF-8
#pragma code_page(65001)
#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
