<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	
	<display-name>MyWar</display-name>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
<!-- 		<welcome-file>index.htm</welcome-file> -->
<!-- 		<welcome-file>index.jsp</welcome-file> -->
<!-- 		<welcome-file>default.html</welcome-file> -->
<!-- 		<welcome-file>default.htm</welcome-file> -->
<!-- 		<welcome-file>default.jsp</welcome-file> -->
	</welcome-file-list>

	<description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
    </description>

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>examples.Hello</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HelloServlet2</servlet-name>
		<servlet-class>examples.Hello2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet2</servlet-name>
		<url-pattern>/hello2</url-pattern>
	</servlet-mapping>

</web-app>